menuentry "Grub LIVE ${LIVELABEL} ${LIVEVERSION}" {
	set gfxpayload=keep
	linux	/casper/vmlinuz  file=/cdrom/preseed/ubuntu.seed boot=casper noquiet nosplash noprompt noeject
	initrd	/casper/initrd
}

